@import "partials/mixins";
@import "partials/header";
@import "partials/intro";
@import "partials/footer";
@import "partials/carte";
@import "partials/ounoustrouver";
@import "partials/evenementsprives";
@import "partials/apropos";

body {
  //width: 90%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 1.5;
  font-family: $mainFont;
  color: $mainColor;
  background: #BE93C5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #BE93C5 , #7BC6CC); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #BE93C5 , #7BC6CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

ul {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;

  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -ms-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
  
  &:hover {
    color: #79B0B0;
    -webkit-box-shadow: 10px 10px 0 0 #000;
    box-shadow: 10px 10px 0 0 #000;
  }
}

h3 {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-style: italic;
}
h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 4px;
  font-weight: bold;
  margin-bottom: 0;
}
h5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 4px;
  font-weight: bold;
  margin-bottom: 0;
}

main {
  margin-top: 4%;
  padding: 0 50px;
  section {
    margin-bottom: 5%;
      img {
        display: block;
        margin: 0 auto;
        border: 1px dashed #000;
        padding: 1%;
        -webkit-box-shadow: 10px 10px 0 0 #000;
        box-shadow: 10px 10px 0 0 #000;

      }
    }
  }
