#carte {
  display: none;
  
  font-size: 1rem;
  p {
    margin-top: 0;
  }
  .carteSpan1 {
    display: block;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
  }
  .carteSpan2 {
    display: block;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
  }
  #carteContent1,#carteContent2 {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
    #carteContentColRight {
    }
  }
  .carteContent {

  }
}