header {
  height: 435px;
  background: url("../img/kemptown-foodtruck-lyon.png");
  margin-bottom: 5%;
  img#lyon {
    width: 100%;
  }
  img#foodtruck {
    width: 250px;
    position: absolute;
    top: 280px;
  }
  img#logo {
    width: 200px;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
  }
  nav#main-nav {
    ul {
      z-index: 10000;
      position: fixed;
      width: 90%;
      //top: 440px;
      list-style: none;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: .8rem;
      display: flex;
      justify-content: space-between;
      li {
        color: #fff;
        background: #000;
        padding: 3px 6px;
      }
    }
  }
}