#intro {
  p {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-style: italic;
    text-align: justify;
  }
  ul {
    margin-top: 5%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    i {
      display: block;
      text-align: center;
      font-size: 2rem;
    }
  }
}